body{
    background-color:blue;
}
header{
    background-position: center center;
}
h1{

    background-color: rgba(248, 248, 248, 75%);
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Verdana;   
    color: #416618;
    font-weight: bold;
    text-align: center;
    text-decoration: none;


}

p{
    text-align: justify;
    text-indent: 20px;
}

.shozo{
    height: 250px;
    float: right;
    margin-left: 25px;
}

.kiemelt{
    font-weight: bold;
    color: red;
}
.forras{
    text-align: right;
}
.btn-group{
    background-color:blue;
    padding: 10px;
    margin-left: 8px;
    margin-right: 200px;
  

}
.btn-group li{
    display:inline-block; 
     width: 100px;
     
}
.btn-group a {
    color:white;
   
}
.btn-primary{
    color: white;
    
}

.container{
    border: 2px solid grey;
    padding: 10px;
}
.container{
   margin: 0;
   background-color: lightblue;
}

.d-block{
    text-align: center;
}
table{
    text-align: center;
    border: 2px;
    margin:0 auto;
    caption-side: top;
}
caption{
	text-align:	center;
	font-weight: bold;
}
.fontos{
    text-align: center;
}